.portfolio-area {
  max-width: $l;
  margin: 0 auto;
  padding: 5vw 2vw;


  @media (max-width: $m) {
    padding: 10vw 2vw;
  }

  @media (max-width: $s) {
    padding: 15vw 4vw;
  }
}


.portfolio-item   {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 2rem;
  margin-bottom: 5vw;

  @media (max-width: $s) {
    grid-template-columns: 100%;
  }

}


.col__1 {

}

.col__2 {

}



.slider {

  &__slide {

    img {
      min-width: 100%;
      max-width: 100%;
      height: auto;
      overflow: hidden;
    }

    &__linkbox {
      display: flex;
    }
  }

  &__thumbnail {
    width: 100px !important;
    height: auto;
    cursor: pointer;
    outline: none;
    margin-right: 2rem;
    margin-top: 1rem;
  } 

}



// GUITAR INFO


.guitarinfo {
  
  &__title {
    font-size: ms(2);
  }


  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {  
    display: flex;
    justify-content: space-between;
    font-size: ms(0);
    border-bottom: 1px solid $light-gray;
    padding: 0.8rem 0;

    span {
      text-align: left;
    }

    @media(max-width: $m) {
      font-size: ms(1) / 1.2;
    }

    }
  }
