.portfolio-area {
  max-width: $l;
  margin: 0 auto;
  padding: 2vw;

  @media (max-width: $m) {
    padding: 5vw 2vw;
  }

  @media (max-width: $s) {
    padding: 10vw 4vw;
  }
}

.portfolio-item {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-gap: 3rem;
  margin-bottom: 5vw;

  @media (max-width: $m) {
    grid-template-columns: 1fr;
  }
}

.slider {
  &__content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-content: center;
  }

  &__slide {
    img {
      max-width: 100%;
      flex-shrink: 1;
      height: auto;
      overflow: hidden;
    }

    &__linkbox {
      display: flex;
    }
  }

  &__thumbnail {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    outline: none;
    margin-top: 1rem;
    border: 2px solid transparent;
  }

  &__thumbnails {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
  }
}

.slider__thumbnails .tns-nav-active {
  border: 2px solid $secondary;
}

// GUITAR INFO

.guitarinfo {
  &__title {
    font-size: ms(2);
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;

    @media (max-width: $s) {
      font-size: ms(1);
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    font-size: ms(0);
    border-bottom: 1px solid $light-gray;
    padding: 0.4rem 1rem;

    &:hover {
      background: lighten($light-gray, 15%);
      transition: all ease 0.2s;
    }

    span {
      text-align: left;
    }

    @media (max-width: $m) {
      font-size: ms(-1);
    }
  }
}
