section.about-area
  h1.section-title  пару слов
    span.section-title__accent Обо мне
    span.section-title__separator 
  .about
    .about__info   
      img(src='./images/alexandr-pashencev.jpg' class='about__image' alt="Александр Пашенцев")
    .about__bio
      p Родился в 1975 году в городе Тамбове. В 1997 году закончил химико-биологический факультет ТГУ им. Г.Р. Державина. 
      p Играть на гитаре учился у известного гитарного мастера Сергея Бизяева, который впоследствии стал моим наставником и идейным вдохновителем в деле по  изготовлению гитар. Попутно перенимал опыт других мастеров. В 2012 году проходил стажировку в гитарной мастерской у Антонио Берналь в испанском городе Севилья.  Продолжаю совершенствоваться и по сей день.
      p С 2001 года занимаюсь изготовлением гитар на заказ. На данный момент сделал более 150 инструментов разной категории: от ученических до профессиональных. При изготовлении гитар использую благородные породы дерева (волнистый клен, бубинга, красное дерево, палисандр, кокоболо), что благоприятно отражается на качестве звучания гитары. Все компоненты гитары (деки, корпус, гриф, головка грифа, накладка грифа) изготавливаю вручную и только из массива древесины высшего качества.
      p Помимо производства гитар занимаюсь ремонтом, отстройкой и реставрацией струнных музыкальных инструментов, в том числе разных видов гитар.

  .features
    .feature
      span.feature__iconbox
        span.icon-guitart.feature__icon
      span.feature__info  150+ инструментов изготовлено, 15 лет опыта
    .feature
      span.feature__iconbox
        span.icon-wood.feature__icon
      span.feature__info  Только выдержанный материал 
    .feature
      span.feature__iconbox
        span.icon-cert.feature__icon
      span.feature__info Cтажировался в Испании у Антонио Берналь
