section.about-area
  h1.section-title  пару слов
    span.section-title__accent Обо мне
    span.section-title__separator 
  .about
    .about__info   
      img(src='./images/alexandr-pashencev.jpg' class='about__image')
    .about__bio
      p Александр Пашенцев - гитарный мастер с профессиональным стажем более 15 лет. Родился и вырос в городе Тамбове. Образование высшее.
      p Играть на гитаре учился у известного гитарного мастера Сергея Бизяева, который в последствии и стал наставником и идейным вдохновителем в ремесле изготовления гитар. Попутно перенимал опыт других мастеров.
      p В 2012 г. проходил стажировку в гитарной мастерской Antonio Bernal в г. Севилья (Испания). Продолжает совершенствоваться до сих пор. На данный момент сделал более 150 инструментов разной категории от ученических до профессиональных. Для изготовления гитар использует только выдержанный материл различных сортов. 
      p Александр Пашенцев также занимается ремонтом, отстройкой и реставрацией струнных музыкальных инструментов, в том числе разных видов гитар.

  .features
    .feature
      span.feature__iconbox
        span.icon-guitart.feature__icon
      span.feature__info  150+ инструментов изготовлено, 15 лет опыта
    .feature
      span.feature__iconbox
        span.icon-wood.feature__icon
      span.feature__info  Только выдержанный материал 
    .feature
      span.feature__iconbox
        span.icon-cert.feature__icon
      span.feature__info Cтажировался в Испании у Антонио Берналь
