footer
  section.footer#contacts
    .footer__inner
      .footer__contacts
        h1.section-title Контакты
        p Вы можете задать любой вопрос по телефону, почте:
        strong.footer__email
         a(href='tel:+79107522993') +7 910 752 29 93
        strong.footer__email
         a(href='mailto:pav1795@yandex.ru') pav1795@yandex.ru
        p Или связаться со мной через социальные сети:
        ul.social
          li.social__item
            a(href='https://vk.com/id155400272' target='_blank' class='social__link') 
              span.fab.fa-vk.social__icon
          li.social__item
            a(href='https://www.instagram.com/alexandrpashencev/' target='_blank'  class='social__link') 
              span.fab.fa-instagram.social__icon
          li.social__item
            a(href='https://ru-ru.facebook.com/alexandr.pashencev' target='_blank' class='social__link') 
              span.fab.fa-facebook-square.social__icon
      .logo.logo--footer
        a(href=indexLink class="logo__link")
          img(src='./images/logo-footer.svg' class="logo__img")

    //- hr.footer__separator
    //- span.footer__copy Александр Панешцев © 2012 — 2018