section.guitars-area
  h1.section-title  мои недавние
    span.section-title__accent работы
    span.section-title__separator 
  .guitars
    a(href='./images/guitar-01.jpg', data-caption='Гитара описание', class='guitars__linkbox')
      img(src='./images/guitar-thumb-01.jpg')
    a(href='./images/guitar-02.jpg', data-caption='Гитара описание', class='guitars__linkbox')
      img(src='./images/guitar-02.jpg')
    a(href='./images/guitar-03.jpg', data-caption='Гитара описание', class='guitars__linkbox')
      img(src='./images/guitar-03.jpg')
    a(href='./images/guitar-04.jpg', data-caption='Гитара описание', class='guitars__linkbox')
      img(src='./images/guitar-04.jpg')
    a(href='./images/guitar-05.jpg', data-caption='Гитара описание', class='guitars__linkbox')
      img(src='./images/guitar-05.jpg')
    a(href='./images/guitar-06.jpg', data-caption='Гитара описание', class='guitars__linkbox')
      img(src='./images/guitar-thumb-06.jpg')

