section.guitars-area#guitars
  h1.section-title  мои недавние
    span.section-title__accent работы
    span.section-title__separator 
  .guitars
    a(href='./images/guitar-01.jpg' class='guitars__linkbox' alt="Гитара из мадагаскарского палисандра")
      img(src='./images/guitar-01t.jpg' alt="Гитара из мадагаскарского палисандра")
    a(href='./images/guitar-02.jpg' class='guitars__linkbox' alt="Гитара из бразильского палисандра Рио")
      img(src='./images/guitar-02t.jpg' alt="Гитара из бразильского палисандра Рио")
    a(href='./images/guitar-03.jpg' class='guitars__linkbox' alt="Гитара из мадагаскарского палисандра")
      img(src='./images/guitar-03t.jpg' alt="Гитара из мадагаскарского палисандра")
    a(href='./images/guitar-04.jpg' class='guitars__linkbox' alt="Гитара из волнистого клена")
      img(src='./images/guitar-04t.jpg' alt="Гитара из волнистого клена")
    a(href='./images/guitar-05.jpg' class='guitars__linkbox' alt="Гитара из мадагаскарского палисандра")
      img(src='./images/guitar-05t.jpg' alt="Гитара из мадагаскарского палисандра")
    a(href='./images/guitar-06.jpg' class='guitars__linkbox')
      img(src='./images/guitar-06t.jpg')



  .guitars__button
    a(href=portfolioLink class="showmore") Смотреть все работы


