section.guitars-area#guitars
  h1.section-title  мои недавние
    span.section-title__accent работы
    span.section-title__separator 
  .guitars
    a(href='./images/guitar-01.jpg' class='guitars__linkbox')
      img(src='./images/guitar-01.jpg')
    a(href='./images/guitar-02.jpg' class='guitars__linkbox')
      img(src='./images/guitar-02.jpg')
    a(href='./images/guitar-03.jpg' class='guitars__linkbox')
      img(src='./images/guitar-03.jpg')
    a(href='./images/guitar-04.jpg' class='guitars__linkbox')
      img(src='./images/guitar-04.jpg')
    a(href='./images/guitar-05.jpg' class='guitars__linkbox')
      img(src='./images/guitar-05.jpg')
    a(href='./images/guitar-06.jpg' class='guitars__linkbox')
      img(src='./images/guitar-06.jpg')

  .guitars--more
    a(href='./images/guitar-07.jpg' class='guitars__linkbox')
      img(src='./images/guitar-07.jpg')
    a(href='./images/guitar-08.jpg' class='guitars__linkbox')
      img(src='./images/guitar-08.jpg')
    a(href='./images/guitar-09.jpg' class='guitars__linkbox')
      img(src='./images/guitar-09.jpg')
    a(href='./images/guitar-10.jpg' class='guitars__linkbox')
      img(src='./images/guitar-10.jpg')
    a(href='./images/guitar-11.jpg' class='guitars__linkbox')
      img(src='./images/guitar-11.jpg')
    a(href='./images/guitar-12.jpg' class='guitars__linkbox')
      img(src='./images/guitar-12.jpg')

  button(href="#" class="showmore") Показать еще


