section.guitars-area#guitars
  h1.section-title  мои недавние
    span.section-title__accent работы
    span.section-title__separator 
  .guitars
    a(href='./images/guitar-01.jpg' class='guitars__linkbox')
      img(src='./images/guitar-01t.jpg')
    a(href='./images/guitar-02.jpg' class='guitars__linkbox')
      img(src='./images/guitar-02t.jpg')
    a(href='./images/guitar-03.jpg' class='guitars__linkbox')
      img(src='./images/guitar-03t.jpg')
    a(href='./images/guitar-04.jpg' class='guitars__linkbox')
      img(src='./images/guitar-04t.jpg')
    a(href='./images/guitar-05.jpg' class='guitars__linkbox')
      img(src='./images/guitar-05t.jpg')
    a(href='./images/guitar-06.jpg' class='guitars__linkbox')
      img(src='./images/guitar-06t.jpg')

  //- .guitars--more
  //-   a(href='./images/guitar-07.jpg' class='guitars__linkbox')
  //-     img(src='./images/guitar-07t.jpg')
  //-   a(href='./images/guitar-08.jpg' class='guitars__linkbox')
  //-     img(src='./images/guitar-08t.jpg')
  //-   a(href='./images/guitar-09.jpg' class='guitars__linkbox')
  //-     img(src='./images/guitar-09t.jpg')
  //-   a(href='./images/guitar-10.jpg' class='guitars__linkbox')
  //-     img(src='./images/guitar-10t.jpg')
  //-   a(href='./images/guitar-11.jpg' class='guitars__linkbox')
  //-     img(src='./images/guitar-11t.jpg')
  //-   a(href='./images/guitar-12.jpg' class='guitars__linkbox')
  //-     img(src='./images/guitar-12t.jpg')

  .guitars__button
    a(href=portfolioLink class="showmore") Смотреть все работы


