include topnav
header.hero
  include nav
  .hero__content
    h1.main-title Гитарный Мастер
    p.main-subtitle изготовление и ремонт классических и аккустических гитар
    //- a(href="#guitars" class='button button--hero') Мои Работы
    //- <button class="button button--hero">Мои Работы</button>
    a(href="#guitars" class="button button--hero") Мои Работы



include navoverlay