.navi.navi--top
  .navi__mobile
    .logo
      a(href=indexLink class="logo__link")
        img(src='./images/logo.svg' class="logo__img" alt="Гитарный мастер Александр Пашенцев")
    button.toggle#open
      i.fas.fa-bars.toggle__icon

  .navi__menu    
    ul.navi__list
      li.navi__item
        a(href=portfolioLink class='navi__link') Мои Работы
      li.navi__item
        a(href=priceLink class='navi__link') Цены
      li.navi__item
        a(href='#contacts' class='navi__link') Контакты

    ul.social
      li.social__item
        a(href=vkLink target='_blank' class='social__link') 
          span.fab.fa-vk.social__icon
      li.social__item
        a(href='https://www.instagram.com/alexandrpashencev/' target='_blank'  class='social__link') 
          span.fab.fa-instagram.social__icon
      li.social__item
        a(href='https://ru-ru.facebook.com/alexandr.pashencev' target='_blank' class='social__link') 
          span.fab.fa-facebook-square.social__icon
