section.prices-area#prices
  h1.section-title  материалы и
    span.section-title__accent цены
    span.section-title__separator 
  .prices
    ul.prices__list      
      li.prices__item
        .prices__sort
          .prices__sort-item
            img(src="./images/klen.png" class='prices__img')
            h3 Клён
          .prices__sort-item 
            img(src="./images/krasnoe-derevo.png" class='prices__img')
            h3 Красное дерево и бубинга
        span.prices__value
          | от 
          em 65.000
          |  рублей
      li.prices__item
        .prices__sort
          .prices__sort-item
            img(src="./images/palisandr-india.png" class='prices__img')
            h3 Палисандр индийский 
          .prices__sort-item 
            img(src="./images/palisandr-madagascar.png" class='prices__img')
            h3 Палисандр мадагаскарский
        span.prices__value
          | от 
          em 85.000
          |  рублей
      li.prices__item
        .prices__sort
          .prices__sort-item
            img(src="./images/palisandr-rio.png" class='prices__img')
            h3 Бразильский палисандр Рио
          .prices__sort-item 
            img(src="./images/chernoe-derevo.png" class='prices__img')
            h3 Черное дерево
        span.prices__value
          | от 
          em 110.000
          |  рублей







      //-  OLD PRICE   
      //- li.prices__item
      //-   img(src="./images/klen.png" class='prices__img')
      //-   h3 Клен
      //-   span.prices__value
      //-     | от 
      //-     em 50.000
      //-     |  рублей
      //- li.prices__item
      //-   img(src="./images/krasnoe-derevo.png" class='prices__img')
      //-   h3 Красное дерево
      //-   span.prices__value
      //-     | от 
      //-     em 50.000
      //-     |  рублей
      //- li.prices__item
      //-   img(src="./images/krasnoe-derevo.png" class='prices__img')
      //-   h3 Амарант и Бубинга
      //-   span.prices__value
      //-     | от 
      //-     em 55.000
      //-     |  рублей
      //- li.prices__item
      //-   img(src="./images/palisandr-india.png" class='prices__img')
      //-   h3 Палисандр индийский, Сантос
      //-   span.prices__value
      //-     | от 
      //-     em 70.000
      //-     |  рублей
      //- li.prices__item
      //-   img(src="./images/palisandr-madagascar.png" class='prices__img')
      //-   h3 Палисандр мадагаскарский
      //-   span.prices__value
      //-     | от 
      //-     em 80.000
      //-     |  рублей
      //- li.prices__item
      //-   img(src="./images/palisandr-rio.png" class='prices__img')
      //-   h3 Палисандр бразильский Рио
      //-   span.prices__value
      //-     | от 
      //-     em 95.000
      //-     |  рублей
      //- li.prices__item
      //-   img(src="./images/chernoe-derevo.png" class='prices__img')
      //-   h3 Черное дерево
      //-   span.prices__value
      //-     | от 
      //-     em 95.000
      //-     |  рублей

