section.main-slider-wrapper
  .main-slider
    .main-slider__slide.main-slider__slide--first
      .main-slider__inner
        h1 Slide#1
    .main-slider__slide.main-slider__slide--second
      .main-slider__inner
        h1 Slide#2
  .main-slider__controls
    button
      i.main-slider__icon.fas.fa-angle-left
    button
      i.main-slider__icon.fas.fa-angle-right