.topnav-area
  section.topnav
    .topnav__left
      span.topnav__item
        span.far.fa-envelope.topnav__icon
        a(href='mailto:pav1795@yandex.ru') pav1795@yandex.ru
      span.topnav__item
        span.fas.fa-truck.topnav__icon
        a(href='./zakaz.html')  заказ и оплата
    .topnav__right
      span.topnav__phone
        span.fas.fa-mobile-alt.topnav__icon
        a(href='tel:+79107522993') +7 910 752 29 93
