- const title = "Гитарный Мастер - Александр Пашенцев | изготовление и ремонт классических и аккустических гитар";
- let desc = ""
- let indexLink = "./"
- let portfolioLink = "./portfolio.html"
- let zakazLink = "./zakaz.html"
- let priceLink = "./index.html#prices"
- let contactsLink = "./#contacts"
- let vkLink = "https://vk.com/pashentsevguitara"

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title #{title}
  body
    block header

    include ./partials/hero

    block content
    include ./partials/about
    include ./partials/guitars
    include ./partials/prices
    include ./partials/footer


    
    block footer
    a.back_to_top(title='Наверх')
      span.fas.fa-arrow-up
    