- const title = "Гитарный Мастер Александр Пашенцев | изготовленные гитары";
- let desc = ""
- let indexLink = "./"
- let portfolioLink = "./portfolio.html"
- let zakazLink = "./zakaz.html"
- let priceLink = "./#prices"
- let contactsLink = "./#contacts"
- let vkLink = "https://vk.com/pashentsevguitara"

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title #{title}
    //- link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.8/tiny-slider.css')
  body
    block header
    include ./partials/topnav 
    .nav-dark-wrp
      include ./partials/nav      
      include ./partials/navoverlay

    block content
    .portfolio-area
      h1.section-title  выполненные
        span.section-title__accent работы
        span.section-title__separator 

      //- GUITAR 1
      .portfolio-item    
        .slider__content

          .slider__guitar-00.slider__thumbnails
            img(src='../images/guitar-portfolio-thumb-01a.jpg', class='slider__thumbnail' alt='')  
            img(src='../images/guitar-portfolio-thumb-01b.jpg', class='slider__thumbnail' alt='')  
            img(src='../images/guitar-portfolio-thumb-01c.jpg', class='slider__thumbnail' alt='')  
            img(src='../images/guitar-portfolio-thumb-01d.jpg', class='slider__thumbnail' alt='')  


          .slider(data-name='guitar-00')
            .slider__slide
              a(href='./images/guitar-portfolio-01a.jpg' class='slide__linkbox')
                img(src='./images/guitar-portfolio-01a.jpg')
            .slider__slide
              a(href='./images/guitar-portfolio-01b.jpg' class='slide__linkbox')
                img(src='./images/guitar-portfolio-01b.jpg')
            .slider__slide
              a(href='./images/guitar-portfolio-01c.jpg' class='slide__linkbox')
                img(src='./images/guitar-portfolio-01c.jpg')
            .slider__slide
              a(href='./images/guitar-portfolio-01d.jpg' class='slide__linkbox')
                img(src='./images/guitar-portfolio-01d.jpg')



          
        .slider__info
          h2.guitarinfo__title Гитара из мадагаскарского палисандра
          ul.guitarinfo__list
            li.guitarinfo__item Верхняя дека
              span Альпийская ель       
            li.guitarinfo__item Нижняя дека
              span Мадагаскарский палисандр    
            li.guitarinfo__item Обечайки
              span Мадагаскарский палисандр   
            li.guitarinfo__item Гриф 	
              span Американский орех       


          ul.guitarinfo__list.hidden(style="list-style: none")
            li.guitarinfo__item Вставка в гриф  	
              span Черное дерево   
            li.guitarinfo__item Накладка на головку грифа	
              span Черное дерево      
            li.guitarinfo__item Накладка
              span Черное дерево    
            li.guitarinfo__item Подставка
              span Мадагаскарский палисандр  
            li.guitarinfo__item Количество ладов  	
              span 19    
            li.guitarinfo__item Материал ладов  	
              span Нейзильберовая сталь	   
            li.guitarinfo__item Мензура	
              span 	650 мм    
            li.guitarinfo__item Окантовка	
              span 	Мадагаскарский палисандр    
            li.guitarinfo__item Армрест	
              span 	Черное дерево   
            li.guitarinfo__item Финишная отделка 	
              span 	полиуретановый лак    
            li.guitarinfo__item Струны 	
              span Savarez

          button(class="toggler") показать все характеристики

          .download
            span.download__icon.fas.fa-file-download
            span Все фотографии этого инструмента в высоком разрешении, вы можете скачать 
            a(href="./guitar-1.zip" class="download__link")  по ссылке





      //- GUITAR 2
      .portfolio-item    
        .slider__content

          .slider__guitar-02.slider__thumbnails
            img(src='../images/guitar-portfolio-thumb-02a.jpg', class='slider__thumbnail' alt='')  
            img(src='../images/guitar-portfolio-thumb-02b.jpg', class='slider__thumbnail' alt='')  
            img(src='../images/guitar-portfolio-thumb-02c.jpg', class='slider__thumbnail' alt='')  
            img(src='../images/guitar-portfolio-thumb-02d.jpg', class='slider__thumbnail' alt='')  


          .slider(data-name='guitar-02')
            .slider__slide
              a(href='./images/guitar-portfolio-02a.jpg' class='slide__linkbox')
                img(src='./images/guitar-portfolio-02a.jpg')
            .slider__slide
              a(href='./images/guitar-portfolio-02b.jpg' class='slide__linkbox')
                img(src='./images/guitar-portfolio-02b.jpg')
            .slider__slide
              a(href='./images/guitar-portfolio-02c.jpg' class='slide__linkbox')
                img(src='./images/guitar-portfolio-02c.jpg')
            .slider__slide
              a(href='./images/guitar-portfolio-02d.jpg' class='slide__linkbox')
                img(src='./images/guitar-portfolio-02d.jpg')



          
        .slider__info
          h2.guitarinfo__title Гитара из мадагаскарского палисандра
          ul.guitarinfo__list
            li.guitarinfo__item Верхняя дека
              span Канадский кедр      
            li.guitarinfo__item Нижняя дека
              span Мадагаскарский палисандр    
            li.guitarinfo__item Обечайки
              span Мадагаскарский палисандр   
            li.guitarinfo__item Гриф 	
              span Американский орех       

          ul.guitarinfo__list.hidden(style="list-style: none")    
            li.guitarinfo__item Вставка в гриф  	
              span Черное дерево   
            li.guitarinfo__item Накладка на головку грифа	
              span Черное дерево      
            li.guitarinfo__item Накладка
              span Черное дерево    
            li.guitarinfo__item Подставка
              span Черное дерево  
            li.guitarinfo__item Количество ладов  	
              span 19    
            li.guitarinfo__item Материал ладов  	
              span Нейзильберовая сталь	   
            li.guitarinfo__item Мензура	
              span 	650 мм    
            li.guitarinfo__item Окантовка	
              span 	Мадагаскарский палисандр    
            li.guitarinfo__item Армрест	
              span 	Черное дерево   
            li.guitarinfo__item Финишная отделка 	
              span 	полиуретановый лак    
            li.guitarinfo__item Струны 	
              span Savarez

          button(class="toggler") показать все характеристики

          .download
            span.download__icon.fas.fa-file-download
            span Все фотографии этого инструмента в высоком разрешении, вы можете скачать 
            a(href="./guitar-2.zip" class="download__link")  по ссылке


      //- GUITAR 3
      .portfolio-item    
        .slider__content

          .slider__guitar-03.slider__thumbnails
            img(src='../images/guitar-portfolio-thumb-03a.jpg', class='slider__thumbnail' alt='')  
            img(src='../images/guitar-portfolio-thumb-03b.jpg', class='slider__thumbnail' alt='')  
            img(src='../images/guitar-portfolio-thumb-03c.jpg', class='slider__thumbnail' alt='')  
            img(src='../images/guitar-portfolio-thumb-03d.jpg', class='slider__thumbnail' alt='')  


          .slider(data-name='guitar-03')
            .slider__slide
              a(href='./images/guitar-portfolio-03a.jpg' class='slide__linkbox')
                img(src='./images/guitar-portfolio-03a.jpg')
            .slider__slide
              a(href='./images/guitar-portfolio-03b.jpg' class='slide__linkbox')
                img(src='./images/guitar-portfolio-03b.jpg')
            .slider__slide
              a(href='./images/guitar-portfolio-03c.jpg' class='slide__linkbox')
                img(src='./images/guitar-portfolio-03c.jpg')
            .slider__slide
              a(href='./images/guitar-portfolio-03d.jpg' class='slide__linkbox')
                img(src='./images/guitar-portfolio-03d.jpg')



          
        .slider__info
          h2.guitarinfo__title Гитара из бразильского палисандра Рио 
          ul.guitarinfo__list
            li.guitarinfo__item Верхняя дека
              span Альпийская ель   
            li.guitarinfo__item Нижняя дека
              span Бразильский палисандр Рио   
            li.guitarinfo__item Обечайки
              span Бразильский палисандр Рио   
            li.guitarinfo__item Гриф 	
              span Палисандр       

          ul.guitarinfo__list.hidden-item.hidden(style="list-style: none")        
            li.guitarinfo__item Вставка в гриф  	
              span Палисандр и клен   
            li.guitarinfo__item Накладка на головку грифа	
              span Черное дерево      
            li.guitarinfo__item Накладка
              span Черное дерево    
            li.guitarinfo__item Подставка
              span Черное дерево  
            li.guitarinfo__item Количество ладов  	
              span 19    
            li.guitarinfo__item Материал ладов  	
              span Нейзильберовая сталь	   
            li.guitarinfo__item Мензура	
              span 	650 мм    
            li.guitarinfo__item Окантовка	
              span 	Бразильский  палисандр Рио    
            li.guitarinfo__item Армрест	
              span 	Черное дерево   
            li.guitarinfo__item Финишная отделка 	
              span 	полиуретановый лак    
            li.guitarinfo__item Струны 	
              span Savarez

          button(class="toggler") показать все характеристики

          .download
            span.download__icon.fas.fa-file-download
            span Все фотографии этого инструмента в высоком разрешении, вы можете скачать 
            a(href="./guitar-3.zip" class="download__link")  по ссылке


      //- GUITAR 4
      .portfolio-item    
        .slider__content

          .slider__guitar-04.slider__thumbnails
            img(src='../images/guitar-portfolio-thumb-04a.jpg', class='slider__thumbnail' alt='')  
            img(src='../images/guitar-portfolio-thumb-04b.jpg', class='slider__thumbnail' alt='')  
            img(src='../images/guitar-portfolio-thumb-04c.jpg', class='slider__thumbnail' alt='')  
            img(src='../images/guitar-portfolio-thumb-04d.jpg', class='slider__thumbnail' alt='')  


          .slider(data-name='guitar-04')
            .slider__slide
              a(href='./images/guitar-portfolio-04a.jpg' class='slide__linkbox')
                img(src='./images/guitar-portfolio-04a.jpg')
            .slider__slide
              a(href='./images/guitar-portfolio-04b.jpg' class='slide__linkbox')
                img(src='./images/guitar-portfolio-04b.jpg')
            .slider__slide
              a(href='./images/guitar-portfolio-04c.jpg' class='slide__linkbox')
                img(src='./images/guitar-portfolio-04c.jpg')
            .slider__slide
              a(href='./images/guitar-portfolio-04d.jpg' class='slide__linkbox')
                img(src='./images/guitar-portfolio-04d.jpg')



          
        .slider__info
          h2.guitarinfo__title Гитара из волнистого клена  
          ul.guitarinfo__list
            li.guitarinfo__item Верхняя дека
              span Альпийская ель   
            li.guitarinfo__item Нижняя дека
              span Волнистый клен  
            li.guitarinfo__item Обечайки
              span Волнистый клен   
            li.guitarinfo__item Гриф 	
              span Клен       

          ul.guitarinfo__list.hidden-item.hidden(style="list-style: none")      
            li.guitarinfo__item Вставка в гриф  	
              span Палисандр   
            li.guitarinfo__item Накладка на головку грифа	
              span Палисандр      
            li.guitarinfo__item Накладка
              span Палисандр    
            li.guitarinfo__item Подставка
              span Палисандр  
            li.guitarinfo__item Количество ладов  	
              span 19    
            li.guitarinfo__item Материал ладов  	
              span Нейзильберовая сталь	   
            li.guitarinfo__item Мензура	
              span 	650 мм    
            li.guitarinfo__item Окантовка	
              span 	Палисандр   
            li.guitarinfo__item Армрест	
              span 	Палисандр   
            li.guitarinfo__item Финишная отделка 	
              span 	полиуретановый лак    
            li.guitarinfo__item Струны 	
              span Savarez

          button(class="toggler") показать все характеристики

          .download
            span.download__icon.fas.fa-file-download
            span Все фотографии этого инструмента в высоком разрешении, вы можете скачать 
            a(href="./guitar-4.zip" class="download__link")  по ссылке





    block content
    include ./partials/footer

    block footer
    a.back_to_top(title='Наверх')
      span.fas.fa-arrow-up
    