- const title = "Гитарный мастер Александр Пашенцев | заказ и оплата";
- let desc = ""
- let indexLink = "./"
- let portfolioLink = "./portfolio.html"
- let zakazLink = "./zakaz.html"
- let priceLink = "./#prices"
- let contactsLink = "./#contacts"
- let vkLink = "https://vk.com/pashentsevguitara"

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='description', content='Доставка осуществляется в любой город Россиии по тарифам транспортной компании.')
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    title #{title}
  body
    include ./partials/metrika
    block header
    include ./partials/topnav 
    .nav-dark-wrp
      include ./partials/nav      
      include ./partials/navoverlay

    block content
    section.zakaz
      .zakaz__img 
        img(src='./images/dostavka.jpg')

      .zakaz__info
        .zakaz__item
          .zakaz__iconbox
             span.icon-truck.zakaz__icon
          .zakaz__info
            h2.zakaz__title Доставка
            span.zakaz-title__separator 
            p Доставка осуществляется в любой город Россиии по тарифам транспортной компании. Гитара упаковывается в водонепроницаемую жесткую упаковку и страхуется на стоимость самой гитары. Бесплатная доставка производится при заказе на сумму  более 70000 р. 
        .zakaz__item
          .zakaz__iconbox
             span.icon-credit-card.zakaz__icon
          .zakaz__info
            h2.zakaz__title Заказ и предоплата
            span.zakaz-title__separator 
            p Заказчик вносит предоплату 30%, если не оговорены другие условия. Далее в течение оговоренного срока я выполняю работы. 







    block content
    include ./partials/footer

    block footer
    a.back_to_top(title='Наверх')
      span.icon-arrow-up
    