- const title = "Гитарный Мастер - Александр Пашенцев | изготовление и ремонт классических и аккустических гитар";
- let desc = ""
- let indexLink = "./"
- let portfolioLink = "./portfolio.html"
- let zakazLink = "./zakaz.html"
- let priceLink = "./index.html#price"
- let contactsLink = "./#contacts"
- let vkLink = "https://vk.com/pashentsevguitara"

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title #{title}
  body
    block header
    include ./partials/topnav 
    .nav-dark-wrp
      include ./partials/nav      
      include ./partials/navoverlay

    block content
    section.zakaz
      .zakaz__img 
        img(src='./images/dostavka.jpg')

      .zakaz__info
        .zakaz__item
          .zakaz__iconbox
             span.fas.fa-truck.zakaz__icon
          .zakaz__info
            h2.zakaz__title Доставка
            span.zakaz-title__separator 
            p Доставка осуществляется в любой город Россиии по тарифам транспортной компании. Гитара упаковывается в водонепроницаемую жесткую упаковку и страхуется на стоимость самой гитары. Бесплатная доставка производится при заказе на сумму  более 70000 р. 
        .zakaz__item
          .zakaz__iconbox
             span.fas.fa-credit-card.zakaz__icon
          .zakaz__info
            h2.zakaz__title Заказ и предоплата
            span.zakaz-title__separator 
            p Заказчик вносит предоплату 30%, если не оговорены другие условия. Далее в течение оговоренного срока я выполняю работы. 







    block content
    include ./partials/footer

    block footer
    a.back_to_top(title='Наверх')
      span.fas.fa-arrow-up
    