
/* GENERAL .button STYLING */
.button,
.button::after {
  cursor: pointer;
	transition: all 0.2s;
}

.button {
  padding: 1.2rem 2.4rem;
  background: none;
  border: 3px solid $primary;
  display: flex;
  text-transform: uppercase;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  color: $white;
  text-decoration: none;  
  position: relative;
  transition: all 0.2s;
  position: relative;
  text-transform: uppercase;

  &--showmore {
    color: $black;
    margin-top: 2rem;
  }

  &--hero {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
}

.button::before,
.button::after {
  background: $white;
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: 100px;
}

.button:hover {
  color: $black;
  border: 3px solid $white;
}

.button--hero::after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

.button--hero:hover:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}


.showmore {
  padding: 1rem 2rem;
  background: none;
  border: 3px solid $light-gray;
  display: flex;
  text-transform: uppercase;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  color: $black;
  text-decoration: none;  
  position: relative;
  transition: all 0.2s;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  transition: all 0.2s;
  margin: 0 auto;
  margin-top: 1rem;
  font-size: ms(-1);

  &:hover {
    border: 3px solid $black;
    transition: all 0.2s;
  }
}