// COLORS

$primary: #e12d1e;
// $primary: #AD0000;
$secondary: #f3c563;
$aux: #f48809;
$white: #ffffff;
$black: #020100;
$gray: #c4c4c4;
$light-gray: #D3D0CB;
$dark-gray: #26282A;

// BREAKPOINTS

$xl: 1690px;
$l: 1280px;
$m: 980px;
$s: 763px;
$xs: 480px;

// BODY

body {
  font-family: 'Montserrat', sans-serif;
  color: $black;
  line-height: 1.6;
}
