// COLORS

$primary: #00dffc;
$secondary: #005f6b;
$aux: #f48809;
$white: #ffffff;
$black: #0f0f0f;
$gray: #c4c4c4;
$light-gray: #e8e9e9;
$dark-gray: #2a333c;

// BREAKPOINTS

$xl: 1690px;
$l: 1280px;
$m: 980px;
$s: 763px;
$xs: 480px;

// BODY

body {
  font-family: "Montserrat", sans-serif;
  color: $black;
  line-height: 1.6;
}
